<footer role="contentinfo">
<div class="social-icons">

<a aria-label="Send Allan an email at hello@allanjamisen.com" class="u-email fn email" rel="me" href="mailto:hello@allanjamisen.com">
<svg class="icon email" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" aria-labelledby="title" role="img">
<title id="title">Email</title>
<g>
<path d="M12 0c-6.617 0-12 5.383-12 12s5.383 12 12 12 12-5.383 12-12-5.383-12-12-12zm8 16c0 1.103-.897 2-2 2h-12c-1.103 0-2-.897-2-2v-8c0-1.103.897-2 2-2h12c1.103 0 2 .897 2 2v8zM17.887 8.184c-.175-.214-.49-.245-.704-.07l-5.183 4.24-5.183-4.241c-.214-.175-.529-.143-.704.071s-.143.528.07.703l3.618 2.96-3.566 2.229c-.234.147-.306.455-.159.689.095.152.258.235.424.235.091 0 .182-.024.265-.076l3.854-2.409 1.064.872c.092.075.205.113.317.113s.225-.038.317-.113l1.065-.872 3.854 2.409c.081.052.173.076.264.076.167 0 .33-.083.425-.235.146-.234.075-.542-.159-.689l-3.566-2.229 3.618-2.96c.212-.175.244-.49.069-.703z"/>
</g>
</svg>
</a>



<a rel="me" href="https://instagram.com/allanjamisen">
<svg class="icon instagram" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" aria-labelledby="title" role="img"><title>Instagram</title><g><path d="M17.5,0H6.5A6.51,6.51,0,0,0,0,6.5v11A6.51,6.51,0,0,0,6.5,24h11A6.51,6.51,0,0,0,24,17.5V6.5A6.51,6.51,0,0,0,17.5,0ZM12,17.5A5.5,5.5,0,1,1,17.5,12,5.5,5.5,0,0,1,12,17.5Zm6.5-11A1.5,1.5,0,1,1,20,5,1.5,1.5,0,0,1,18.5,6.5Z" /></g></svg>
</a>

<a rel="me" href="/rss">
<svg class="icon rss" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" aria-labelledby="title" role="img"><title id="title">RSS Feed</title><path d="M20,0H4A4,4,0,0,0,0,4V20a4,4,0,0,0,4,4H20a4,4,0,0,0,4-4V4A4,4,0,0,0,20,0ZM5.5,11a1,1,0,0,1,0-2A9.511,9.511,0,0,1,15,18.5a1,1,0,0,1-2,0A7.509,7.509,0,0,0,5.5,11Zm4,6A2.5,2.5,0,1,1,7,14.5,2.5,2.5,0,0,1,9.5,17ZM5.5,6a1,1,0,0,1,0-2A14.517,14.517,0,0,1,20,18.5a1,1,0,0,1-2,0A12.514,12.514,0,0,0,5.5,6Z"/></svg>
</a>
</div>


  <small>&copy;&nbsp;{{ now |date("Y") }} <span class="p-author p-name h-card vcard">Allan Jamisen</span> All rights reserved.</small> 
</footer>