{% extends "_layouts/base.twig" %}
{% set title = entry.title %}
{% set bodyClass = "l-about" %}
{% block bodyContent %}

{% set single = craft.entries.section('about').one() %}

{% if single %}

  {% set image = single.heroImage.one() %}

	{% if image|length %}
  <figure>
	  <img src="{{ image.url }}" alt="{{ image.imageAlt }}" />
  </figure>
	{% endif %}
  <article>
<p class="p-summary lede">{{ single.lede }}</p>
{{ single.body }}</p>
</article>
	{% endif %}

{% endblock bodyContent %}
