//  =====================================================
//  HTML Living Standard
//  Grouping content elements
//  https://html.spec.whatwg.org/multipage/grouping-content.html
//  p, hr, pre, blockquote, ol, ul, menu, li, dl, dt, dd,
//  figure, figcaption, main, div
//  =====================================================

p {
  font-size: var(--font-size);
}

hr {
  margin: var(--spacing-medium) 0;
  border-top: .5px var(--color-black-10);
}

figure,
figcaption {
  padding: 0;
  margin: 0;
}

figcaption {
  font-size: var(--font-size-small);
}
