// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: none !important;
    animation-duration: none !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

// Hide only visually, but have it available for screen readers:
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Extends the .visually-hidden class to allow the element
// to be focusable when navigated to via the keyboard:
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: inherit;
}
